<form action="/create" method="POST">
    <h2>create todo</h2>

    <div class="form-floating mb-3 input">
        <input class="form-control" type="text" name="title" id="inputCreate">
        <label for="inputCreate">Todo title</label>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
