<script defer src="./signIn.js"></script>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CryWEB</a>
  </div>
</nav>

<div class="container d-flex justify-content-center">
    <main class="signIn text-center p-3">
        <h1>CryWEB</h1>
        <h5>SiginIn</h5>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="login" name="login" placeholder="Login">
            <label for="floatingInput">Login</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="mt-4 width-100 d-flex justify-content-around">
            <a class="btn btn-dark" href="/signUp">SIGIN UP</a>
            <button class="btn btn-dark" onclick="signIn()">NEXT</button>
        </div>
    </main>
</div>

<div id="feetback">

</div>

