    <div class="container w-75">
        <header class="border-bootem">
            <form action="/main/exit" method="get">
                <button type="submit" class="btn btn-primary btn-lg h-100">EXIT</button>
            </form>
        </header>
        <main class="p-3">
            <div id="messagesList">

            </div>
            <form action="/write" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="recipient" placeholder="Login">
                    <label for="floatingInput">Login of recipient</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" name="textarea" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 30vh"></textarea>
                    <label for="floatingTextarea2">Message</label>
                </div>
                <button class="btn btn-primary mt-3" type="submit">Send</button>
            </form>
        </main>

        <script>

            //function exit(){
            //    let xhr = new XMLHttpRequest();
//
  //              xhr.open("GET", '/main/exit', true);
//
  //              xhr.send();
    //        }

            //масив где храниться HTML код с указаними письмами для вывода 
            let boxInner = new Array()
            //Сохраняем силку на HTML блок
            let box = document.querySelector('#messagesList')

            let xhr = new XMLHttpRequest();

            xhr.open("GET", '/main', true);

            xhr.onload = function () {
                if (xhr.status !== 200) {
                    return;
                }
                const response = JSON.parse(xhr.response);
                console.log(response)
                //Вывод всех писем
                for (let i = 0; i < response.length; i++) {
                boxInner[i] = 
                    `
                    <div class="">
                        <div class="d-flex">
                            <h6 class='my-1'>
                                Username: ${response[i]}
                            </h6>
                            <button onclick="deleteUser(this)" id="button${i}" class="btn btn-primary delete">Delete</button>
                            
                        </div>
                    </div>
                    `
                }  
                //Размещение в блок
                box.innerHTML = boxInner.join('')
            }

            xhr.send();
        </script>