<nav id="navbarMain" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CryWEB</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item me-2">
          <a class="nav-link" aria-current="page" onclick="backButton(secList,secWrite)">Write Message</a>
      </ul>
        <form action="/main/exit" method="get">
          <button type="submit" class="btn btn-dark btn-lg h-100">EXIT</button>
        </form>
  </div>
</nav>

<div class="container">
  <input class="form-control mt-3" id="privateKey" placeholder="Private key" aria-label="Search">
  <main class="p-3">
    <section id='secList' class='secList' >
      <div class="text-center mt-1">
        <h3>Message List</h3>
      </div>
      <div id="messagesList">

      </div>
    </section>

    <section id='secWrite' class='d-none' >
      <button onclick = "backButton(secWrite,secList)" class='btn-lg btn btn-dark mb-2'>
                  <i class="fas fa-arrow-left"></i>
                  Back To Message List
      </button>
      <div class="form-floating mb-3">
          <input type="text" class="form-control" id="recipient" name="recipient" placeholder="Login">
          <label for="recipient">Login of recipient</label>
      </div>
      <div class="form-floating">
          <textarea class="form-control" name="textarea" placeholder="Leave a comment here" id="textarea" style="height: 30vh"></textarea>
          <label for="textarea">Message</label>
      </div>
      <button class="btn btn-dark mt-3" onclick="writeMessage()">Send</button>
    </section>

    <section id='secRead' class='d-none' >

    </section>
  </main>

  <script defer src="./main.js"></script>

  <div id="alert bg-dark" class="d-none"></div>
</div>